body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mt-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    background-color: tomato;
    position: relative;
}
.title h2 {
    color: #fff;
    font-size: 4em;
    position: absolute;
    transform: translate(-50%, -50%);
}
.title h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}
.title h2:nth-child(2) {
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}
.input-group {
    margin-top: 110px;
    position: relative;
    margin-bottom: 15px;
}
.input-group label {
    position: absolute;
    cursor: text;
    top: 14px;
    left: 10px;
    font-size: 12px;
    font-weight: bold;
    background: #fff;
    padding: 0 10px;
    color: #999;
    transition: all .3s ease;
}
#myInput {
    width: 200px;
    height: 30px;
    font-size: 16px;
    outline: none;
    padding: 6px 16px;
    border: 1px solid gray;
    border-radius: 4px;
}
.input-group #myInput:focus {
    border-color: #03a9f4;
}
.input-group #myInput:focus + label {
    top: -5px;
    color: #03a9f4;
    font-size: 11px;
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cssbuttons-io-button {
    background: #03a9f4;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em
    0 4px 6px #9c27b0,   /* Warna ungu */
    0 8px 12px #03a9f4;
    /* 0 4px 6px rgba(3, 169, 244, 0.4), 
    0 8px 10px rgba(3, 169, 244, 0.2),
    0 12px 16px rgba(0, 77, 153, 0.5); */
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}
.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em 
    0 0 10px rgba(3, 169, 244, 0.7),
    0 0 20px rgba(3, 169, 244, 0.5),
    0 0 30px rgba(3, 169, 244, 0.3);
    right: 0.3em;
    transition: all 0.3s;
}  
.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
} 
.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: lightskyblue;
}  
.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}  
.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}
#box {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border: 1px solid black;
    width: 60%;
    background-color: #03a9f4;
    height: auto;
}
.output {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}
#result {
    margin: 20px;
    font-size: 15px;
    font-weight: 500;
}

@keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
}